<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row">
    <form action="" method="post">

        {%csrf_token%}
        {{form.as_p}}
        <input type="submit" value="proceed">

    </form>
</div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam architecto assumenda dolores earum expedita fugiat labore laboriosam libero minima, molestiae nostrum odio, placeat quam quod unde voluptates! Illo, in.
</body>
</html>